@page {
                          /*  margin: 5mm 10mm 35mm 10mm; */ 
                            size: A4;
                            page-break-after: avoid;
                        }
    
                        body {
                            font-family: Arial, sans-serif;
                            position: relative;
                            min-height: 100%;
                            margin: 0;
                            padding: 0;
                        }

                        .header-section {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            margin-bottom: 10px;
                            width: 100%;
                        }

                        .company-logo {
                            width: 150px;
                            height: auto;
                            margin-right: 15px;
                        }

                        .company-logo img {
                            width: 150px;
                            height: auto;
                            object-fit: contain;
                        }

                        .company-address {
                            font-family: Helvetica, Arial, sans-serif;
                            text-align: right;
                            color: #808080;
                            font-size: 12pt;
                            flex-grow: 1;
                            line-height: 1.2;
                        }

                        .bill-to {
                            font-size: 12pt;
                            color: #333333;
                            margin-bottom: 5px;
                        }
                        
                        .bill-to strong {
                            color: #333333;
                            font-size: 12pt;
                        }
                        
                        .info-table {
                            width: 100%;
                            border-collapse: collapse;
                            background-color: #f5f5f5;
                            margin-bottom: 12px;
                            margin-top: 12px;
                        }
                        
                        .info-table tr {
                            border-bottom: 2px solid white;
                        }
                        
                        .info-table td {
                            padding: 4px 10px;
                            border: 2px solid white;
                            vertical-align: middle;
                        }
                        
                        .info-table td:first-child {
                            color: #000000;
                            font-weight: bold;
                            width: 40%;
                            font-size: 12pt;
                            text-transform: uppercase;
                        }
                        
                        .info-table td:last-child {
                            color: #666666;
                            font-size: 12pt;
                        }

                        .project-info-table {
                            width: 100%;
                            border-collapse: collapse;
                            border: 1px solid #003366;
                            margin-bottom: 10px;
                        }
                        
                        .project-info-table th {
                            color: #000000;
                            font-weight: bold;
                            font-size: 12pt;
                            padding: 6px;
                            border: 1px solid #003366;
                            text-transform: uppercase;
                        }
                        
                        .project-info-table td {
                            padding: 6px;
                            border: 1px solid #003366;
                            color: #666666;
                            font-size: 12pt;
                            line-height: 1.2;
                        }

                        .lines-table {
                            width: 100%;
                            border-collapse: collapse;
                            margin-bottom: 12px;
                            border: 1px solid #003366;
                        }
                        
                        .lines-table th {
                            color: #000000;
                            font-weight: bold;
                            padding: 6px;
                            border: 1px solid #003366;
                            font-size: 10pt;
                            text-transform: uppercase;
                        }
                        
                        .lines-table td {
                            padding: 4px;
                            border: 1px solid #003366;
                            color: #666666;
                            font-size: 12pt;
                        }
                        
                        .lines-table tfoot tr td {
                            font-weight: bold;
                            color: #000000;
                            border-top: 1px solid #003366;
                        }

                        .amount-words {
                            font-style: italic;
                            font-size: 12pt;
                            color: #666666;
                            margin: 10px 0;
                        }

                        .stamp-section {
                            display: flex;
                            justify-content: flex-end;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            flex-direction: column;
                            align-items: right;
                            text-align: right;
                            font-weight: bold;
                        }
    
                        .stamp-image {
                            width: 180px;
                            height: 180px;
                            padding: right;
                        }

                        .company-name {
                            text-align: right;
                            font-size: 10pt;
                            color: #333333;
                            margin-top: 5px;
                        }

                        .main-content {
                            margin-bottom: 120px;
                        }

                        #footer {
                            position: running(footer);
                        }
                        
                        .footer-container {
                            position: absolute;
                            bottom: 0;
                            left: 15mm;
                            right: 15mm;
                            border-top: 1px solid #e5e5e5;
                            background-color: white;
                            padding: 10px 0;
                        }

                        .footer-title {
                            font-weight: bold;
                            font-size: 10pt;
                            color: #666666;
                            margin-bottom: 5px;
                            text-align: left;
                        }

                        .footer-text {
                            font-size: 10pt;
                            color: #666666;
                            line-height: 1.2;
                            text-align: left;
                        }